html, body
	{
		height: 100%;
	}

	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Varela', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		color: #656565;
	}


	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #81DAF5;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	ul.actions
	{
		text-align: center;
	}

		ul.actions li
		{
		}

	p
	{
		line-height: 180%;
	}

	strong
	{
	}

	a
	{
		color: #0000FF;
	}
	
	a:link {color: #81DAF5; text-decoration: none; }
	a:active {color: #81DAF5; text-decoration: none; }
	a:visited {color: #81DAF5; text-decoration: none; }
	a:hover {color: #6F6F6F; text-decoration: none; }
	

	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
	}


	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}

	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}


	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #009E2D;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}

	div.img {
    	margin: 15px;
    	padding: 5px;
    	float: left;
    	text-align: center;
	}

	div.img img {
    	display: inline;
    	margin: 15px;
	}

	div.desc {
    	text-align: center;
    	width: 220px;
    	margin: 5px;
	}

	.title
	{
		margin-bottom: 3em;
	}

	.title h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
	}

	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}

	#wrapper
	{
		background: #FFF;
	}

	#header-wrapper
	{
		background: #333333;
	}

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;

	}

	#logo h1
	{
		color: #81DAF5;
	}

	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #81DAF5;
	}

	#logoimage
	{

		width: 5px;
		height: 100%;
	}


	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
	}

	#menu ul
	{
		display: inline-block;
	}

	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #FFF;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: #FFF;
	}

	#menu .current_page_item a
	{
		background: #009E2D;
		color: #FFF;
	}

	

	#extra
	{
		overflow: hidden;
		padding: 5em 0em;
	}

	#extra .title
	{
		text-align: center;
	}

	#extra .button
	{
		margin-top: 1em;
	}

	#extra .fa
	{
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}
